@charset "utf-8";

//colors
$white: #fff;
$black: #2b2623;
$maroon: #83333e;
$red-prime: #8c1a34;
$red-secondary: #80182F;
$off-white: #f2f4f5;

// If need, change your variables before importing Bulma
$danger: $red-prime;

@import "~bulma/bulma.sass";
.ks_title{
  font-size: 2.5rem;
}
ks_subtitle{
  font-size: 2rem;
}
.ks_email
{
  font-size: 1.2rem;
  font-style: italic;
}

.ks_summary
{
  font-size: 1.2rem;
  font-style: italic;
}

.hero-body
{
  z-index: 2;
}

.ks_hero-bg-container{
  z-index: 1;
  position: absolute;
  .ks_hero{
    display: flex;
    align-items: center;
    .ks_hero-bg-text{
      font-family: Verdana, sans-serif;
      font-weight: 900;
      line-height: 100vh;
      font-size: 120vh;
      color: $red-secondary;
      overflow: hidden;
      letter-spacing: 1rem;
    }
  }
}